/* -------------------- Variables -------------------- */
:root {
    --dark-color-1: #1e293b;
    --dark-color-1-soft: #2a3852;
    --dark-color-2: #6c6d70;
    --light-color-1: #f5f5f5;
    --blue-color-1: #3b82f6;
}

/* -------------------- Globals -------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--light-color-1);
}

/* -------------------- Nav -------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--dark-color-1);
}

.nav-logo {
    color: var(--light-color-1);
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--light-color-1);
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: var(--blue-color-1);
    color: var(--light-color-1);
}

/* -------------------- Form Header -------------------- */

.form-header {
    background-color: var(--dark-color-1-soft);
    padding: 2rem;
    margin-bottom: 2rem;
    color: var(--light-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.draw-title-container {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
}

.draw-title-container input {
    width: 100%;
    margin-top: 0.5rem;
}

.team-names-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    gap: 0.5rem;
}

.team-names {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.team-name {
    flex: 1;
}

.team-name .input {
    width: 100%;
}

.depth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}